*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.myClass{
  display: flex;
  flex-direction: column;
}
h1{
  font-size: 60px;
}
button{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}


